<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('layout/head'); %>
	</head>

	<body>
		<main id="home">
			<header>
				<h1>Weet wat je eet app</h1>
				<h2>
					Scan of zoek een barcode van het product waar je meer te weten over wilt komen.
				</h2>
			</header>
			<section>
				<a href="/scan">Scan a barcode</a>
				<a href="/search">Seach for a barcode</a>
			</section>
			<div id="loading"></div>
		</main>
	</body>
</html>
