<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('layout/head'); %>
	</head>

	<body>
		<main id="offline">
			<h2>OOPS!</h2>
			<p>Voor deze pagina heb je internetverbinding nodig.</p>
			<a href="/">Terug naar home</a>
		</main>
	</body>
</html>
