<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('layout/head'); %>
	</head>

	<body>
		<main id="scan">
			<h1>Scan a barcode</h1>
			<div id="loading"></div>
			<section id="camera"></section>
		</main>
	</body>
</html>
