<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('layout/head'); %>
	</head>

	<body>
		<main id="search">
			<h1>Search for a productq</h1>
			<!-- <h2>Seacrh</h2> -->

			<form action="/results">
				<label for="searchField"></label>
				<input type="text" id="searchField" name="query" />
				<label for="submit"></label>
				<input type="submit" id="submit" value="Search" />
			</form>
		</main>
	</body>
</html>
