<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Food App</title>
<meta name="theme-color" content="#317EFB" />
<meta name="description" content="Barcode scanner application" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="apple-touch-icon" href="images/enquete.png" />
<link rel="manifest" href="/manifest.json" />
<link rel="stylesheet" href="styles/style.css" />
<script type="module" defer src="scripts/app.js"></script>
